1_kaggle_MLP/data
2_kaggle_birds_sounds/data/train
2_kaggle_birds_sounds/data/test
2_kaggle_birds_sounds/.idea
2_kaggle_birds_sounds/.ipynb_checkpoints/

3_kaggle_denoising/data/
3_kaggle_denoising/.idea
3_kaggle_denoising/.ipynb_checkpoints/

